// BASE STYLE
body {
	color: #fff;
	@extend %baseFont;
}
.bg {
	background: linear-gradient(to bottom, #001e28, #1f4037);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
}
.bg-chinese {
	background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, #6c1424);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
}
.bg-space {
	background: url(/public/img/signs-big-item/signs-background/background.webp);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px;
}
/* PC */
@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/* TABLET */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE SMALL*/
@media (max-width: 479.98px) {}
a {
	color: #fff;
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
ul {
	margin: 0px;
	padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}