//========================================================================================================================================================
.header {
	padding: 10px 0px 5px;
	border-bottom: 1px solid;
	color: $mainWhite;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	@media (max-width: 1087px) {
		padding: 10px 0px 10px;
	}
		// .header__container
		&__container {
			display: flex;
			min-height: 100px;
			align-items: center;
			gap: 10px;
		}
		// .header__column
		&__column {
			// .header__column_logo
			&_logo {
				display: flex;
				gap: 10px;
				align-items: center;
			}
			// .header__column_wide
			&_wide {
				flex: 1 1 auto;
			}
			// .header__column_symbol
			&_symbol {
				display: flex;
				justify-content: flex-end;
			}
		}
		// .header__logo-z
		&__logo-z {
			position:relative;
			border: 1px solid;
			border-top-left-radius: 30px;
			border-bottom-right-radius: 30px;
			padding: 5px 15px;
			color: #D7DDE8;
			font-size: 60px;
			transition:all 1s;
			&:after,&:before{
				content:" ";
				width:10px;
				height:10px;
				position:absolute;
				border :0px solid $mainWhite;
				transition:all 1s;
				}
			&:after{
				top:-5px;
				right:-5px;
				border-top:5px solid $mainWhite;
				border-right:5px solid $mainWhite;
			}
			&:before{
				bottom:-5px;
				left:-5px;
				border-bottom:5px solid $mainWhite;
				border-left:5px solid $mainWhite;
			}
			&:hover{
			border-top-right-radius:0px;
			border-bottom-left-radius:0px;
			background:rgba(0,0,0,.5);
				&:before,&:after{
				width:100%;
				height:100%;
				border-top-left-radius: 30px;
				border-bottom-right-radius: 30px;
				}
			}
		}	
		// .header__logo
		&__logo {
			position: relative;
			color: $mainWhite;
			font-size: 35px;
			letter-spacing: 4px;
			text-transform: uppercase;
			position:relative;
			z-index:1;
			text-align: center;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(
         to right,
         #f3d3ac,
         #f3d3ac 50%,
         #fff 50%);
      background-size: 200% 100%;
      background-position: -100%;
      transition: all 0.3s ease-in-out;
      &:before{
			display:block;
			content:'';
			width:0;
			height:3px;
			bottom:5px;
			left:0;
			bottom:-3px;
			z-index:0;
			background:#f3d3ac;
			position:absolute;
			transition: all 0.3s ease-in-out;
      }
      &:hover{
			background-position: 0%;
			&:before{
			width:100%;
			}
      }

		}
		// .header__menu
		&__menu {
		}
			// .header__symbol-box
		&__symbol-box {
			position: relative;
			width: 100px;
			height: 100px;
		}	
		// .header__symbol
		&__symbol {
			position: absolute;
			width: 100%;
			height: 100%;
			// object-fit: cover;
		}
		@media (max-width: 1087px) {
			&__container {
				min-height: 50px;
			}
			&__logo-z {
				padding: 0px 10px;
				font-size: 50px;
			}
			&__logo {
				font-size: 30px;
			}
			&__symbol-box {
				width: 80px;
				height: 80px;
			}
		}
		@media (max-width: 991.98px) {
			[class*="__container"] {
				max-width: 850px;
			}
			&__logo-z {
				padding: 4px 10px;
				font-size: 35px;
			}
			&__logo {
				font-size: 21px;
			}
			&__symbol-box {
				width: 50px;
				height: 50px;
			}
		}
		@media (max-width: 767.98px) {
			&__symbol-box {
				display: none;
			}
		}
}
.menu {
		// .menu__body
		&__body {
		}
		// .menu__list
		&__list {
			display: flex;
			flex-wrap: wrap;
			gap: 40px;
			justify-content: center;
		}
		// .menu__item
		&__item {
		}
		// .menu__link
		&__link {
			color: #fff;
			font-size: 16px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}
		@media (max-width: 1087px) {
			&__list {
				gap: 20px;
			}
			&__link {
				font-size: 14px;
			}
		}
		@media (max-width: 767.98px) {
			&__body {
				position: fixed;
				top: 0;
				left: -120%;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: $mainBg;
				padding: 90px 15px 30px 15px;
				transition: left 0.3s ease 0s;
			}
			&__list {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
}
@media (max-width: 767.98px) {
	.header:target .menu__body {
		left: 0;
	}
	.header:target .menu__body:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 80px;
		width: 100%;
		background-color: $mainBg;
	}
}
//====================================================================================================
.close-icon-menu,.icon-menu {
	display: none;
}
@media (max-width: 767.98px) {
	.icon-menu {
		display: flex;
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
		&:before,&:after {
			content: "";
			background-color: $mainWhite;
			height: 2px;
		}
		span {
			height: 2px;
			background-color: $mainWhite;
		}
	}
	.close-icon-menu {
		// display: flex;
		flex: 0 0 30px;
		height: 30px;
		position: relative;
		margin: 0px 0px 0px 20px;
		&:before,&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			background-color: $mainWhite;
			height: 2px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.header {
		&:target {
			.icon-menu {
				display: none;
			}
			.close-icon-menu {
				display: flex;
			}
		}
	}
}