// DEFAULT POPUPCLASS
.popup {
}
.my-popup {
}
.fade-out {
}
.popup-content {
	background: rgb(13 21 38 / 48%) !important;
	border-radius: 24px !important;
	@extend %baseFont;
	padding: 42px 42px;
	backdrop-filter: blur(20px);
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 12px 20px 5px #060c1f;
	border: 4px solid #eee3 !important;
}
.popup-header {
	width: auto;
}
.popup-title {
	margin: 0px;
}
.popup-close {
	color: $mainWhite !important;
	font-size: 50px !important;
}
//========================================================================================================================================================
// MY POPUP CLASS IN BODY
.popup-body {
	max-height: calc(100vh - 60px);
	overflow-y: scroll;
	&:last-child {
		margin-bottom: 0px;
	}
	// .popup-body_sign
	&_sign {
		font-weight: 800;
		font-size: 30px;
		color: $mainWhite;
	}
	// .popup-body_day
	&_day {
		font-size: 19px;
		margin: 10px 0px 0px 0px;
		font-weight: 600;
		color: $mainWhite;
	}
	&_text {
		text-align: start;
		@extend %popupFont;
		font-weight: 300;
		margin-top: 15px;
		margin-bottom: 0px;
		line-height: 1.5;
		padding: 0px 3px;
		color: $mainWhite;
		font-size: 17px;
	}
	&_link {
		color: $mainWhite !important;
		font-weight: 300 !important;
		text-decoration: underline !important;
		&:hover {
			color: #aaffe3 !important;
		}
	}
	@media (max-width: 479.98px) {
		&_sign {
			font-size: 22px;
		}
		// .popup-body_day
		&_day {
			font-size: 15px;
			margin: 15px 0px 0px 0px;
		}
		&_text {
			font-size: 16px;
		}
}
}
//========================================================================================================================================================
// MY POPUP CLASS
.pupup-imb-box {
	width: 250px;
	height: 250px;
}
.pupup-img-sign {
	width: 100%;
	filter: invert(100%) sepia(10%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
// MEDIA
@media (max-width: 1087px) {
	.popup-content {
		padding: 30px 0px 30px;
	}
}
@media (max-width: 767.98px) {
	.popup-content {
		padding: 10px;
	}
	.pupup-imb-box {
		width: 150px;
		height: 150px;
	}
}
@media (max-width: 479.98px) {
	.pupup-imb-box {
		display: none;
	}
	.popup-content {
		padding: 25px 3px;
		flex-direction: row;
	}
}
